html,
body,
header,
footer,
menu,
nav,
section,
article,
aside,
figure,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
span,
object,
iframe,
p,
blockquote,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
li,
fieldset,
form,
label,
legend,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
nobr {
  white-space: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: 500;
  line-height: 1.1;
}
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 23px;
}
h4 {
  font-size: 16px;
  text-transform: uppercase;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 12px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  cursor: pointer;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
  width: 100%;
  overflow: visible;
}
hr .m-sm {
  margin: 10px 0;
}
ol,
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
blockquote,
q {
  quotes: none;
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: 600;
}
input,
select {
  vertical-align: middle;
}
.cursor-pointer,
.cursor-pointer *,
.pointer,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer !important;
}
.cursor-help {
  cursor: help !important;
}
.cursor-default {
  cursor: default !important;
}
.cursor-not-allowed {
  cursor: not-allowed !important;
}
.cursor-no-drop {
  cursor: no-drop !important;
}
label {
  display: inline-block;
}
textarea {
  overflow: auto;
  resize: vertical;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  top: 0;
  left: 0;
  background: none;
  outline: none;
  padding: 0;
  border-radius: 2px;
  border: none;
}
button::-moz-focus-inner {
  border: none;
  padding: 0;
}
button > span {
  position: relative;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
code {
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.clearfix:before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.vertical-align-sub {
  vertical-align: sub;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-center,
.table td.text-center,
.table th.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-middle,
.table .text-middle {
  vertical-align: middle;
}
.bold {
  font-weight: 600;
}
.bold-700 {
  font-weight: 700;
}
.bold-900 {
  font-weight: 900;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-hidden {
  overflow: hidden;
}
.word-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
.report-print,
.print-only {
  display: none;
}
.flex,
[class^='parent-'] > *,
[class*=' parent-'] > *,
ul[class^='parent-'] > *,
ul[class*=' parent-'] > *,
[class*='jc-'],
[class*='ai-'],
[class*='dir-'],
[class*='f-wrap'],
.row .flex,
[class^='parent-'] [class^='parent-'],
[class^='parent-'] [class*=' parent-'],
[class*=' parent-'] [class^='parent-'],
[class*=' parent-'] [class*=' parent-'],
.f-col {
  display: flex;
}
.flex_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.parent-height .parent-height,
.parent-height > .dz-message,
.parent-height > .dropzone {
  display: block;
}
.parent-height > .dz-preview {
  display: inline-block;
}
.dir-row,
.parent-dir-row > * {
  flex-direction: row;
}
.dir-column,
.f-col,
.parent-dir-column > * {
  flex-direction: column;
}
.dir-row-r,
.parent-dir-row-r > * {
  flex-direction: row-reverse;
}
.dir-column-r,
.parent-dir-column-r > * {
  flex-direction: column-reverse;
}
.ai-start,
.parent-ai-start > * {
  align-items: flex-start;
}
.ai-end,
.parent-ai-start > * {
  align-items: flex-end;
}
.ai-center,
.parent-ai-center > * {
  align-items: center;
}
.ai-baseline,
.parent-ai-baseline > * {
  align-items: baseline;
}
.ai-stretch,
.parent-ai-stretch > * {
  align-items: stretch;
}
.jc-start,
.parent-jc-start > * {
  justify-content: flex-start;
}
.jc-end,
.parent-jc-end > * {
  justify-content: flex-end;
}
.jc-center,
.parent-jc-center > * {
  justify-content: center;
}
.jc-between,
.parent-jc-between > * {
  justify-content: space-between !important;
}
.jc-around,
.parent-jc-around > * {
  justify-content: space-around;
}
.jc-evenly,
.parent-jc-evenly > * {
  justify-content: space-evenly;
}
.f-wrap,
.parent-f-wrap > * {
  flex-wrap: wrap;
}
.f-wrap-r,
.parent-f-wrap-r > * {
  flex-wrap: wrap-reverse;
}
.f-nowrap,
.parent-f-nowrap > * {
  flex-wrap: nowrap;
}
.f-grow-1 {
  flex-grow: 1 !important;
}
.f-grow-0 {
  flex-grow: 0 !important;
}
.f-grow-unset {
  flex-grow: unset !important;
}
.f-shrink-0 {
  flex-shrink: 0 !important;
}
[class^='f-col-'] {
  position: relative;
}
.f-col-1 {
  width: 100%;
}
.f-col-2 {
  width: calc(100% / 2 - 15px);
}
.f-col-3 {
  width: calc(100% / 3 - 15px);
}
.f-col-4 {
  width: calc(100% / 4 - 15px);
}
.f-col-5 {
  width: calc(100% / 5 - 15px);
}
.f-col-6 {
  width: calc(100% / 6 - 15px);
}
.f-col-10 {
  width: calc(100% / 10 - 15px);
}
.f-col-2_3 {
  width: calc(100% / 3 * 2 - 15px);
}
.f-col-3_4 {
  width: calc(100% / 4 * 3 - 15px);
}
.full-width-row {
  margin-left: -40px;
  margin-right: -40px;
}
.full-width-row [class^='f-col-'] {
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 1240px) {
  .f-col-lg-2 {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 991px) {
  .f-col-md-1 {
    width: 100%;
  }
  .f-col-md-2 {
    width: calc(100% / 2 - 15px);
  }
  .f-col-md-3 {
    width: calc(100% / 3 - 15px);
  }
  .f-col-md-4 {
    width: calc(100% / 4 - 15px);
  }
  .f-col-md-2_3 {
    width: calc(100% / 3 * 2 - 15px);
  }
  .f-col-md-3_4 {
    width: calc(100% / 4 * 3 - 15px);
  }
  .dir-column-md {
    flex-direction: column;
  }
  .f-wrap-md {
    flex-wrap: wrap;
  }
  .parent-jc-between-md > * {
    justify-content: space-between;
    align-items: stretch;
  }
}
@media screen and (max-width: 768px) {
  .dir-column-sm {
    flex-direction: column;
  }
  .f-col-sm-1 {
    width: 100%;
  }
}
pre {
  background: #f5f5f5;
  padding: 9.5px;
  margin: 0 0 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  overflow: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.margin-row {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
textarea.form-control {
  height: auto;
  color: #808080;
}
select {
  word-wrap: normal;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-pre-line {
  white-space: pre-line !important;
}
.text-pre-wrap {
  white-space: pre-wrap !important;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
p {
  margin-bottom: 10px;
  font-size: 12px;
}
code {
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.hide,
.hide1,
.hide2,
.hidden,
.hide_check,
.hide_important,
.clonable,
.none {
  display: none !important;
}
.word-break {
  word-break: break-all;
}
.nav-pills {
  display: flex;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
  float: none !important;
}
.form-control {
  height: 34px;
  width: 100%;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  font-weight: normal;
  box-shadow: none;
  border-radius: 0;
  background: #fff;
}
.form-control::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #b3b3b3;
}
.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}
.form-control:focus {
  border-color: #999;
  outline: 0;
  box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .tab-pane.active {
  display: block;
}
.open > .dropdown-menu {
  display: block;
}
.open > .dropdown-menu l a {
  display: block;
}
.open > .dropdown-menu l a.jstree-anchor {
  display: inline-block;
}
.open > .dropdown-menu l a.jstree-anchor:focus {
  background: none;
}